#header{
	display:flex;
	height: 50px;
}

#header > div {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
}
	#name{
		width:90%;
	}
	#helpIcon{
	height:25px;
	width:25px;
	margin:20px;
	cursor: pointer;
	}

body{
	background: url("/img/ofen.jpg") 0% 50% no-repeat;
	background-size: 120%;	
}
#content{
	height:auto;
	width:50%;
	background:white;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 10px 20px
	rgba(0,0,0,.2);
}
#pizzaImg{
	max-width:100%;
	max-height:100%;
}
.fontBig{
	font-size:30px;
	margin-left: 20px;
}
.pizzaElement{
	margin-left: 20px;
	border-top: 1px solid
	#dbdbdb;
	display:flex;
}
	.pizzaElement > div {
		width:500px;
		height: 54px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.pizzaElement.submit > div {
		margin:10px;
	}
#HelpPopup{
	visibility: hidden;
}


.swal-text {
	display: flexbox;
	text-align: left;
	font-size: 20px;
  }

.pizzaInputType{
	margin: auto;
	width: 40px;
	height: 30px;
	float: right;
	font-size: 15px;
	border: 1px solid;
}

.inputField{
	border: 2px solid;
	border-radius: 5px;
	height: 20px;
}

#submitOrder{
	border-radius: 5px;
	width: 80px;
	height: 27px;
	cursor: pointer;
	background-color: #808080;
	color: white;
}

#submitOrder:hover{
	border-radius: 5px;
	width: 80px;
	cursor: pointer;
	background-color: #cccccc;
	color: black;
}