#header{
	display: flex;
    justify-content: space-between;
    width: 100%;
}

#header > div {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
}
	#name{
		width:90%;
	}
	#helpIcon{
	height:25px;
	width:25px;
	margin:20px;
	cursor: pointer;
	}

body{
	background: url("../img/ofen.jpg") 0% 50% no-repeat;
	background-size: cover;	
	margin:0;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content{
	height:65vh;
	width:50%;
	background:white;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0 10px 20px
	rgba(0,0,0,.2);
	display: flex;
    flex-direction: column;
    justify-content: start;
}
#pizzaImg{
	max-width:100%;
	max-height:100%;
}
.fontBig{
	font-size:25px;
	margin-left: 20px;
}
.pizzaElement{
	margin-left: 20px;
	border-top: 1px solid
	#dbdbdb;
	display:flex;
}
	.pizzaElement > div {
		width:500px;
		height: 54px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.pizzaElement.submit > div {
		margin:10px;
	}
#HelpPopup{
	visibility: hidden;
}


.swal-text {
	display: flexbox;
	text-align: left;
	font-size: 20px;
  }

.pizzaInputType{
	margin: auto;
	width: 40px;
	height: 30px;
	float: right;
	font-size: 15px;
	border: 1px solid;
}

.inputField{
	border: 2px solid;
	border-radius: 5px;
	height: 20px;
}

#submitOrder{
	border-radius: 5px;
	width: 80px;
	height: 27px;
	cursor: pointer;
	background-color: #808080;
	color: white;
}

#submitOrder:hover{
	border-radius: 5px;
	width: 80px;
	cursor: pointer;
	background-color: #cccccc;
	color: black;
}

.pizzaName{
	font-size: 20px;
	margin-left: 20px;
}

#bestaetigung_titel{
	text-align: center;
	margin-left: 0px !important;
}


#order_list {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 40%;
	margin: auto;
	text-align: center;
  }
  
  #order_list td, #order_list th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #order_list tr:hover {background-color: #ddd;}
  
  #order_list th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #6699cc;
	color: white;
  }


  #timer{
	  text-align:center;
	  font-size: 19px;
	  font-weight: bold;
	  color: #6699cc;
  }

  #Progress {
	width: 100%;
	background-color: #ddd;
  }
  
  #Bar {
	width: 1%;
	height: 30px;
	background-color: #6699cc;
  }